parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/ShapeFile.php

		-
			message: "#^Parameter \\#1 \\$stream of function feof expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/ShapeFile.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 6
			path: src/ShapeFile.php

		-
			message: "#^Parameter \\#2 \\$shpFile of method PhpMyAdmin\\\\ShapeFile\\\\ShapeRecord\\:\\:loadFromFile\\(\\) expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/ShapeFile.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/ShapeRecord.php

		-
			message: "#^Parameter \\#2 \\$record_number of function dbase_get_record_with_names expects int, int\\|null given\\.$#"
			count: 1
			path: src/ShapeRecord.php

		-
			message: "#^Parameter \\#3 \\$record_number of function dbase_replace_record expects int, int\\|null given\\.$#"
			count: 1
			path: src/ShapeRecord.php

		-
			message: "#^Property PhpMyAdmin\\\\ShapeFile\\\\ShapeRecord\\:\\:\\$recordNumber \\(int\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: src/ShapeRecord.php

		-
			message: "#^Property PhpMyAdmin\\\\ShapeFile\\\\ShapeRecord\\:\\:\\$size \\(int\\) does not accept mixed\\.$#"
			count: 1
			path: src/ShapeRecord.php

